.app-body {
  display: flex;
  justify-content: center;
  transform: translateY(25%);
}

.quote-container {
  width: 400px;
  height: 300px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  
}

.quote-heading {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.quote-text {
  font-size: 1.2rem;
  text-align: center;
  font-family: sans-serif;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  border-radius: 50%;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #f8f9fa;
  cursor: pointer;
  }